body {
    background: url("../fondos/corazon-1.svg") repeat-y top left, url("../fondos/corazon-2.svg") repeat-y top right;
    background-color: #FFEBF0;
    background-size: 150px;
    font-family: sans-serif;
    font-size: 133%;
    text-align: center;
}

h1 {
    font-size: 150%;
    text-transform: uppercase;
}

div {
    border: solid black 2px;
    margin: 0 150px 10px 150px;
    font-weight: bold;
}

div.s1 {
    background: url("../fondos/manchas.png");
    color: white;
}

div.s2 {
    background: url("../fondos/fuego.svg") no-repeat bottom left, url("../fondos/fuego.svg") no-repeat bottom right, url("../fondos/tallos.jpg");
    color: gold;
}

div.s3 {
    background: url("../fondos/ojo.svg"), url("../fondos/hexagonos.jpg");
    background-size: inherit inherit;
    color: maroon;
}

div.s4 {
    padding-bottom: 50px;
    background: url("../fondos/caballo.svg") repeat-x bottom left, url("../fondos/estrellas.png") repeat;
    background-size: 100px auto;
    color: darkgreen;
}