body {
    font-family: sans-serif;
    background-color: #FFEACC;
}

h1 {
    color: #995900;
    text-transform: uppercase;
    font-size: 250%;
}

p {
    font-size: 250%;
}

p.intro {
    color: orange;
}

summary {
    font-size: 500%;
}

span.par {
    background-color: white;
}

span.impar {
    background-color: #FFCCEA;
}