@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lobster&family=Ribeye+Marrow&display=swap');

body {
    background-color: #CBAC4D;
}

h1 {
    font-size: 380%;
    letter-spacing: 30px;
    text-align: center;
    font-family: "Ribeye Marrow";
    text-transform: uppercase;
}

p {
    font-size: 300%;
}

p.intro {
    font-family: sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 200%;
    font-size: 130%;
    text-align: justify;
}

cite {
    text-decoration: underline;
}

p.latin {
    font-family: "Lobster";
    margin-top: 50px;
    margin-bottom: 0px;
}

p.espanol {
    font-family: "Just Another Hand";
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 400%;
    text-align: right;
    color: white;
    letter-spacing: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lobster&family=Ribeye+Marrow&display=swap');