@font-face {
    font-family: "Sigmar One";
    src: url("../sigmar-one.woff");
}

body {
    background-color: azure;
    font-family: sans-serif;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

strong {
    background-color: white;
    color: red;
}

em {
    font-size: 130%;
    text-decoration: underline;
    font-weight: bold;
}

h1,h2 {
    font-family: "Sigmar One";
    font-size: 320%;
}

h1 {
    text-align: center;
}

hr {
    clear: both;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #7A99B8;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
}

h2 {
    color: #7A99B8;
    text-shadow: black 3px 3px;
}

date {
    color: blue;
}

.izquierda {
    float: left;
    width: 33%;
}

.derecha {
    float: right;
    width: 33%;
}

.centrado {
    text-align: center;
}

img {
    border: solid #7A99B8 5px;
    padding: 5px;
    margin: 5px;
}

address {
    text-align: right;
    font-style: initial;
}